{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}        
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav>
            <ul>
                <li><a href="/products">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <li><a href="/login">Login, Now</a></li>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Ecommerce. All rights reserved.</p>
    </footer>
</body>
</html>
